{% extends './layouts/base.html' %}



{% block content %}
<br>

<div class="process">

  <h5>Para iniciar, você sabe o que é um processo?</h5>
          <p>Os processos representam tarefas em execução, mas nem todas têm relação direta com algum aplicativo.
            Muitas delas são executadas em segundo plano.</p>
            <p>Processo é uma entidade abstrata (uma estrutura no
              sistema operacional) que representa um software
              em execução. O sistema operacional atribui um
              identificador a cada processo, bem como descritores
              de arquivos, espaço de memória, prioridade, entre
              outras informações. Um processo pode possuir mais
              de um fluxo de execução (thread).</p>
</div>
<div class="processador">
  <h5 class="card-title d-flex justify-content-center">O que é um gerenciador?</h5>
  <p>O Gerenciador de Tarefas é uma das ferramentas nativas do Windows, sistema operacional da Microsoft. 
    Com o recurso é possível visualizar todos os programas que estão abertos e rodando em segundo plano 
    no PC, fechar aplicativos que travaram de forma rápida e ainda controlar o desempenho do seu computador. 
    No Windows 10, o acesso é rápido pela barra de tarefas.</p>

</div>


<hr>
{% endblock %}

{% block title %}
  Sobre
{% endblock %}

{% block script %}
  
{% endblock %}
