{% extends './layouts/base.html' %}



{% block content %}
<!-- ABA 'SIMULADOR' ONDE SE ENCONTRAM OS PROGRAMAS EM EXECUÇÃO -->
<br>
<div class="container">
  <div class="row">
    <div class="col-md-2 mx-auto">
      <div class="col-4">
        <img class="icon-image"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Microsoft_Office_Word_%282018%E2%80%93present%29.svg/826px-Microsoft_Office_Word_%282018%E2%80%93present%29.svg.png" alt="">
      </div>
      <div class="col-4">
        <h5 class="icon-title-insta" id="processName">Word</h5>
      </div>
      <div class="col-4">
        <button type="submit" class="insta btn btn-primary" name="button" id="startInstagram">Iniciar</button>
        <br>
        <button type="submit" class="restartInsta btn btn-success" name="button" id="restartInstagram">Duplicar processo</button>
      </div>
    </div>

    <div class="col-md-2 mx-auto">
      <div class="col-4">
        <img class="icon-image"
          src="https://cdn3.iconfinder.com/data/icons/popular-services-brands-vol-2/512/discord-512.png" alt="">
      </div>
      <div class="col-4">
        <h5 class="icon-title-discord" id="processName">Discord</h5>
      </div>
      <div class="col-4">
        <button type="submit" class="discord btn btn-primary" name="button" id="startDiscord">Iniciar</button>
      </div>
      
        <button type="submit" class="restartDiscord btn btn-success" name="button" id="restartDiscord">Duplicar processo</button>
    </div>

    <div class="col-md-2 mx-auto">
      <div class="col-4">
        <img class="icon-image" src="https://dashboard.snapcraft.io/site_media/appmedia/2019/05/code_ozwVHSV.png"
          alt="">
      </div>
      <div class="col-4">
        <h5 class="icon-title-vscode" id="processName">Visual Studio Code</h5>
      </div>
      <div class="col-4">
        <button type="submit" class="vscode btn btn-primary" name="button" id="startVSCode">Iniciar</button>
        <br>
        <button type="submit" class="restartVSCode btn btn-success" name="button" id="restartVSCode">Duplicar processo</button>
      </div>
    </div>

    <div class="col-md-2 mx-auto">
      <div class="col-4">
        <img class="icon-image"
          src="https://upload.wikimedia.org/wikipedia/pt/5/51/Logo_Bloco_de_Notas-pt.PNG"
          alt="">
      </div>
      <div class="col-4">
        <h5 class="icon-title-explorer" id="processName">Bloco de notas</h5>
      </div>
      <div class="col-4">
        <button type="submit" class="explorer btn btn-primary" name="button" id="startExplorer">Iniciar</button>
        <br>
        <button type="submit" class="restartExplorer btn btn-success" name="button" id="restartExplorer">Duplicar processo</button>
      </div>
    </div>

    <div class="col-md-2 mx-auto">
      <div class="col-4">
        <img class="icon-image"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Chrome_icon_%28September_2014%29.svg/1024px-Google_Chrome_icon_%28September_2014%29.svg.png"
          alt="">
      </div>
      <div class="col-4">
        <h5 class="icon-title-google" id="processName">Google Chrome</h5>
      </div>
      <div class="col-4">
        <button type="submit" class="google btn btn-primary" name="button" id="startGoogle">Iniciar</button>
        <br>
        <button type="submit" class="restartGoogle btn btn-success" name="button" id="restartGoogle">Duplicar processo</button>
      </div>
    </div>

    <div class="col-md-2 mx-auto">
      <div class="col-4">
        <img class="icon-image" src="https://img.icons8.com/color/480/microsoft-excel-2019--v1.png" alt="">
      </div>
      <div class="col-4">
        <h5 class="icon-title-excel" id="processName">Excel</h5>
      </div>
      <div class="col-4">
        <button type="submit" class="excel btn btn-primary" name="button" id="startExcel">Iniciar</button>
        <br>
        <button type="submit" class="restartExcel btn btn-success" name="button" id="restartExcel">Duplicar processo</button>
      </div>
    </div>

  </div>
</div>
<br>
<!--
   <div class="" id="result-container">
       <h1 class="d-flex justify-content-center">Processos</h1>
       <div class="mt-4"></div>

       <ul  class="list-group-item list-group-item-secondary" id="result">
        <li class="list-group-item list-group-item-warning d-flex justify-content-center">PROCESSOS SIMULADOS EM EXECUÇÃO (clique em iniciar para começar)</li>
        <br>
       </ul>
   </div>
-->

<table class="table">
  <thead>
    <tr>
      <th title="Nomes dos processos" scope="col">Process</th>
      <th title="Consulte a aba SOBRE para saber mais" scope="col">CPU</th>
      <th title="Consulte a aba SOBRE para saber mais" scope="col">Private Bytes</th>
      <th title="Consulte a aba SOBRE para saber mais" scope="col">Working Set</th>
      <th title="Consulte a aba SOBRE para saber mais" scope="col">PID</th>
      <th scope="col">Company Name</th>
      <th title="Ao clicar o processo irá finalziar" >Encerrar Processo</th>
    </tr>
  </thead>
  <tbody>
    <tr class="line1" id="lineOne">
      <td title="O Word esta em simulação de execução"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Microsoft_Office_Word_%282018%E2%80%93present%29.svg/826px-Microsoft_Office_Word_%282018%E2%80%93present%29.svg.png"
          width="20px" height="20px" alt=""> Word</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU1">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB1">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS1">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID1">----</td>
      <td>Microsoft Corporation</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessLineOne">Encerrar Processo</button></td>
    </tr>
    <tr class="line12" id="line12">
      <td title="O Word esta em simulação de execução"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Microsoft_Office_Word_%282018%E2%80%93present%29.svg/826px-Microsoft_Office_Word_%282018%E2%80%93present%29.svg.png"
          width="20px" height="20px" alt=""> Word</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU12">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB12">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS12">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID12">----</td>
      <td>Microsoft Corporation</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessRsInstagram">Encerrar Processo</button></td>
    </tr>
    <tr class="line2" id="lineTwo">
      <td title="O Discord esta em simulação de execução"><img src="https://cdn3.iconfinder.com/data/icons/popular-services-brands-vol-2/512/discord-512.png"
          width="20px" height="20px" alt=""> Discord</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU2">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB2">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS2">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID2">----</td>
      <td>Discord Inc</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessLineTwo">Encerrar Processo</button></td>
    </tr>
    <tr class="line3" id="lineThree">
      <td title="O Visual Studio Code esta em simulação de execução"><img src="https://dashboard.snapcraft.io/site_media/appmedia/2019/05/code_ozwVHSV.png" width="20px"
          height="20px" alt=""> VS Code</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU3">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB3">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS3">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID3">----</td>
      <td>Microsoft Corporation</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessLineThree">Encerrar Processo</button></td>
    </tr>
    <tr class="line32" id="line32">
      <td title="O Visual Studio Code esta em simulação de execução"><img src="https://dashboard.snapcraft.io/site_media/appmedia/2019/05/code_ozwVHSV.png" width="20px"
          height="20px" alt=""> VS Code</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU32">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB32">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS32">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID32">----</td>
      <td>Microsoft Corporation</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessRsVSCode">Encerrar Processo</button></td>
    </tr>
    <tr class="line4" id="lineFour">
      <td title="O Bloco de Notas esta em simulação de execução"><img
          src="https://upload.wikimedia.org/wikipedia/pt/5/51/Logo_Bloco_de_Notas-pt.PNG"
          width="20px" height="20px" alt=""> Bloco de notas</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU4">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB4">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS4">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID4">----</td>
      <td>Microsoft Corporation</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessLineFour">Encerrar Processo</button></td>
    </tr>
    <tr class="line41" id="line41">
      <td title="O Bloco de Notas esta em simulação de execução, equivale a 2 programas iguais"><img
          src="https://upload.wikimedia.org/wikipedia/pt/5/51/Logo_Bloco_de_Notas-pt.PNG"
          width="20px" height="20px" alt=""> Bloco de notas</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU42">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB42">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS42">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID42">----</td>
      <td>Microsoft Corporation</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessRsExplorer">Encerrar Processo</button></td>
    </tr>
    <tr class="line5" id="lineFive">
      <td title="O Google esta em simulação de execução"><img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Chrome_icon_%28September_2014%29.svg/1024px-Google_Chrome_icon_%28September_2014%29.svg.png"
          width="20px" height="20px" alt=""> Google Chrome</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU5">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB5">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS5">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID5">----</td>
      <td>Google LLC</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessLineFive">Encerrar Processo</button></td>
    </tr>
    <tr class="line52" id="line52">
      <td title="O Google esta em simulação de execução"><img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Chrome_icon_%28September_2014%29.svg/1024px-Google_Chrome_icon_%28September_2014%29.svg.png"
          width="20px" height="20px" alt=""> Google Chrome</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU52">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB52">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS52">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID52">----</td>
      <td>Google LLC</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessRsGoogle">Encerrar Processo</button></td>
    </tr>
    <tr class="line6" id="lineSix">
      <td title="O Excel esta em simulação de execução"><img src="https://img.icons8.com/color/480/microsoft-excel-2019--v1.png" width="20px" height="20px" alt="">
        Excel</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU6">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB6">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS6">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID6">----</td>
      <td>Microsoft Corporation</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessLineSix">Encerrar Processo</button></td>
    </tr>
    <tr class="line62" id="line62">
      <td title="O Excel esta em simulação de execução"><img src="https://img.icons8.com/color/480/microsoft-excel-2019--v1.png" width="20px" height="20px" alt="">
        Excel</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineCPU62">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePB62">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="lineWS62">----</td>
      <td title="Consulte a aba SOBRE para saber mais" id="linePID62">----</td>
      <td>Microsoft Corporation</td>
      <td><button class="btn btn-danger" name="button" id="stopProcessRsExcel">Encerrar Processo</button></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block title %}
Simulador
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/simulator.js" charset="utf-8"></script>
<script src="/js/aleatoryNumbers.js" charset="utf-8"></script>
<link rel="stylesheet" href="/styles/simulator.css">
{% endblock %}