div.apps{
    display: inline;
}

div.container img.icon-image {
    height: 110px;
    width: 110px;
}

div.container div h5.icon-title-insta{
    margin-left: 40px;
}

div.container div h5.icon-title-discord{
    margin-left: 20px;
}

div.container div h5.icon-title-vscode{
    margin-left: 35px;
}

div.container div h5.icon-title-explorer{
    margin-left: 15px;
    padding-left: 15px;
}

div.container div h5.icon-title-google{
    margin-left: 20px;
}

div.container div h5.icon-title-excel{
    margin-left: 40px;
}


div button.insta{
   margin-left: 22px;
   margin-top: 47px;
   display: inline-block;
}

div button.discord{
    margin-left: 22px;
    margin-top: 47px;
    display: inline-block;
}

div button.vscode{
    margin-left: 30px;
    display: inline-block;

}

div button.explorer{
    margin-left: 22px;
    display: inline-block;
}

div button.google{
    margin-left: 22px;
    margin-top: 24px;
    display: inline-block;
}

div button.excel{
    margin-left: 30px;
    margin-top: 47px;
    display: inline-block;
}

table tbody tr.line1 {
    display: none;
}

table tbody tr.line2 {
    display: none;
}

table tbody tr.line3 {
    display: none;
}

table tbody tr.line4 {
    display: none;
}

table tbody tr.line5 {
    display: none;
}

table tbody tr.line6 {
    display: none;
}

button.restartInsta {
    display: none;
    margin-left: 13px;
    margin-top: 10px;
}

button.restartDiscord {
    display: none;
    margin-left: 30px;
    margin-top: 10px;
    height: 65px;
    width: 90px;
}

button.restartExplorer {
    display: none;
    margin-left: 13px;
    margin-top: 10px;
    height: 65px;
    width: 90px;
}

button.restartVSCode {
    display: none;
    margin-left: 20px;
    margin-top: 10px;
    height: 65px;
    width: 90px;
}

button.restartGoogle {
    display: none;
    margin-left: 15px;
    margin-top: 10px;
    height: 65px;
    width: 90px;
}

button.restartExcel {
    display: none;
    margin-left: 22px;
    margin-top: 10px;
    height: 65px;
    width: 90px;
}

table tbody tr.line12 {
    display: none;
    background-color: rgb(177, 177, 177);
}

table tbody tr.line32 {
    display: none;
    background-color: rgb(177, 177, 177);
}

table tbody tr.line41 {
    display: none;
    background-color: rgb(177, 177, 177);
}

table tbody tr.line52 {
    display: none;
    background-color: rgb(177, 177, 177);
}

table tbody tr.line62 {
    display: none;
    background-color: rgb(177, 177, 177);
}
