div.apps{
    display: inline;
}

div.container img.icon-image {
    height: 110px;
    width: 110px;
    margin-left: 110px;
}

div.container div h5.icon-title{
    margin-left: 120px;
}

div.container div p.icon-description{
    margin-left: 130px;
}

div.container div a.icon-button{
    margin-left: 130px;
}

table tbody tr.line1 {
    display: none;
}

table tbody tr.line2 {
    display: none;
}

table tbody tr.line3 {
    display: none;
}

table tbody tr.line4 {
    display: none;
}

table tbody tr.line5 {
    display: none;
}

table tbody tr.line6 {
    display: none;
}
